## Create tables

In [0]:
# File location and type
flights_file_location = "/FileStore/tables/flights_small.csv"
carriers_file_location = "/FileStore/tables/carriers.csv"
weekdays_file_locaiton = "/FileStore/tables/weekdays.csv"
months_file_location = "/FileStore/tables/months.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "false"  # Treat all rows as data, including the first one
delimiter = ","

# Read the CSV file without using the first row as header
flights_df = (
    spark.read.format(file_type)
    .option("inferSchema", infer_schema)
    .option("header", first_row_is_header)
    .option("sep", delimiter)
    .load(flights_file_location)
)

carriers_df = (
    spark.read.format(file_type)
    .option("inferSchema", infer_schema)
    .option("header", first_row_is_header)
    .option("sep", delimiter)
    .load(carriers_file_location)
)

weekdays_df = (
    spark.read.format(file_type)
    .option("inferSchema", infer_schema)
    .option("header", first_row_is_header)
    .option("sep", delimiter)
    .load(weekdays_file_locaiton)
)

months_df = (
    spark.read.format(file_type)
    .option("inferSchema", infer_schema)
    .option("header", first_row_is_header)
    .option("sep", delimiter)
    .load(months_file_location)
)

# Define the column names you want to apply
flights_header = [
    "fid", "year", "month_id", "day_of_month", "day_of_week_id",
    "carrier_id", "flight_num", "origin_city", "origin_state",
    "dest_city", "dest_state", "departure_delay", "taxi_out",
    "arrival_delay", "canceled", "actual_time", "distance"
]
carriers_header = ["cid", "name"]
weekdays_header = ["did", "day_of_week"]  
months_header = ["mid", "month"]


# Rename the DataFrame columns
flights_df = flights_df.toDF(*flights_header)
carriers_df = carriers_df.toDF(*carriers_header)
weekdays_df = weekdays_df.toDF(*weekdays_header)
months_df = months_df.toDF(*months_header)

# Display the DataFrame with the renamed columns
display(flights_df.head(15))
display(carriers_df.head(15))
display(weekdays_df.head(15))
display(months_df.head(15))

fid,year,month_id,day_of_month,day_of_week_id,carrier_id,flight_num,origin_city,origin_state,dest_city,dest_state,departure_delay,taxi_out,arrival_delay,canceled,actual_time,distance
1,2005,7,1,5,AA,1,New York NY,New York,Los Angeles CA,California,-4.0,29.0,9.0,0,360.0,2475.0
2,2005,7,2,6,AA,1,New York NY,New York,Los Angeles CA,California,-7.0,13.0,-10.0,0,344.0,2475.0
3,2005,7,3,7,AA,1,New York NY,New York,Los Angeles CA,California,-1.0,17.0,-4.0,0,344.0,2475.0
4,2005,7,4,1,AA,1,New York NY,New York,Los Angeles CA,California,-9.0,20.0,17.0,0,373.0,2475.0
5,2005,7,5,2,AA,1,New York NY,New York,Los Angeles CA,California,-6.0,32.0,12.0,0,365.0,2475.0
6,2005,7,6,3,AA,1,New York NY,New York,Los Angeles CA,California,-4.0,34.0,13.0,0,364.0,2475.0
7,2005,7,7,4,AA,1,New York NY,New York,Los Angeles CA,California,-4.0,16.0,-7.0,0,344.0,2475.0
8,2005,7,8,5,AA,1,New York NY,New York,Los Angeles CA,California,25.0,35.0,22.0,0,344.0,2475.0
9,2005,7,9,6,AA,1,New York NY,New York,Los Angeles CA,California,-4.0,30.0,-5.0,0,346.0,2475.0
10,2005,7,10,7,AA,1,New York NY,New York,Los Angeles CA,California,-4.0,29.0,-11.0,0,340.0,2475.0
11,2005,7,11,1,AA,1,New York NY,New York,Los Angeles CA,California,-2.0,28.0,-3.0,0,346.0,2475.0
12,2005,7,12,2,AA,1,New York NY,New York,Los Angeles CA,California,-3.0,25.0,-20.0,0,330.0,2475.0
13,2005,7,13,3,AA,1,New York NY,New York,Los Angeles CA,California,-6.0,57.0,-1.0,0,352.0,2475.0
14,2005,7,14,4,AA,1,New York NY,New York,Los Angeles CA,California,-1.0,29.0,-9.0,0,339.0,2475.0
15,2005,7,15,5,AA,1,New York NY,New York,Los Angeles CA,California,-5.0,29.0,-18.0,0,334.0,2475.0

cid,name
02Q,Titan Airways
04Q,Tradewind Aviation
05Q,Comlux Aviation AG
06Q,Master Top Linhas Aereas Ltd.
07Q,Flair Airlines Ltd.
09Q,Swift Air LLC
0BQ,DCA
0CQ,ACM AIR CHARTER GmbH
0GQ,Inter Island Airways d/b/a Inter Island Air
0HQ,Polar Airlines de Mexico d/b/a Nova Air
0J,JetClub AG
0JQ,Vision Airlines
0LQ,Metropix UK LLP.
0MQ,Multi-Aero Inc. d/b/a Air Choice One
0OQ,Open Skies

did,day_of_week
1,Monday
2,Tuesday
3,Wednesday
4,Thursday
5,Friday
6,Saturday
7,Sunday
9,Unknown

mid,month
1,January
2,February
3,March
4,April
5,May
6,June
7,July
8,August
9,September
10,October
11,November
12,December

In [0]:
# Create a view or table
temp_table_1 = "flights"
temp_table_2 = "carriers"
temp_table_3 = "weekdays"
temp_table_4 = "months"

flights_df.createOrReplaceTempView(temp_table_1)
carriers_df.createOrReplaceTempView(temp_table_2)
weekdays_df.createOrReplaceTempView(temp_table_3)
months_df.createOrReplaceTempView(temp_table_4)

##Question 1
Find the distinct flight numbers of all flights from Seattle to Boston by Alaska Airlines Inc. on Mondays. Also notice that, in the database, the city names include the state. So Seattle appears as Seattle WA. [3 rows]

In [0]:
%sql
SELECT DISTINCT F.flight_num AS flight_num
FROM flights F
JOIN carriers C ON F.carrier_id = C.cid
JOIN weekdays W ON F.day_of_week_id = W.did
WHERE F.origin_city = 'Seattle WA'
  AND F.dest_city = 'Boston MA'
  AND C.name = 'Alaska Airlines Inc.'
  AND W.day_of_week = 'Monday';

flight_num
12
24
734

## Question 2
Find the day of the week with the longest average arrival delay. Return the name of the day and the average delay. [1 row]

In [0]:
%sql
SELECT W.day_of_week, AVG(F.arrival_delay) AS delay
FROM flights AS F, weekdays AS W
WHERE F.day_of_week_id = W.did
GROUP BY W.day_of_week
ORDER BY AVG(F.arrival_delay) DESC
LIMIT 1;

day_of_week,delay
Wednesday,13.342771666868126

##Question 3
Find the names of all airlines that ever flew more than 1000 flights in one day. Return only the names. Do not return any duplicates. [11 rows]

In [0]:
%sql
SELECT DISTINCT C.name
FROM flights F
JOIN Months M
ON M.mid = F.month_id
JOIN Carriers C 
ON C.cid = F.carrier_id
GROUP BY F.day_of_month, F.year, M.month, C.name
HAVING COUNT(*) > 1000;

name
SkyWest Airlines Inc.
United Air Lines Inc.
Comair Inc.
ExpressJet Airlines Inc. (1)
Southwest Airlines Co.
ExpressJet Airlines Inc.
Northwest Airlines Inc.
US Airways Inc.
Envoy Air
Delta Air Lines Inc.
American Airlines Inc.

## Question 4
Find all airlines that had more than 0.5 percent of their flights out of Seattle be canceled. Return the name of the airline and the percentage of canceled flight out of Seattle. Order the results by the percentage of canceled flights in ascending order. [6 rows]

In [0]:
%sql
SELECT C.name, AVG(F.canceled) AS percent
FROM flights AS F, carriers AS C
WHERE F.carrier_id = C.cid
AND F.origin_city = "Seattle WA"
GROUP BY C.name
HAVING AVG(F.canceled) > 0.005

name,percent
JetBlue Airways,0.010025062656641603
Frontier Airlines Inc.,0.008403361344537815
ExpressJet Airlines Inc.,0.03225806451612903
Northwest Airlines Inc.,0.014336917562724014
SkyWest Airlines Inc.,0.007282913165266107
United Air Lines Inc.,0.009837678307919331